<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Empleados</title>
</head>
<body>
    <font color="dark green" face="Comic Sans MS,arial">
    <style>
        body {background-color: rgb(159, 205, 218);}

    </style>
    <ul>
        <h1>
        {%for empleado in lista_empleados %}
        
            <li>{{empleado.nombre}} - {{empleado.apellido}} </li>
            <br>
            TE FELICITAMOS SOS PARTE DE NUESTRA COMUNIDAD


            </br>

        {% endfor %}
         </h1>   
    </ul>
    </font>


</body>
</html>